#overskrift {
  display: flex;
  font-size: 80px;
  justify-content: center;
  margin-top: 30px;
}

.underline {
  border-bottom: 1.5px solid #5f3f39;
  margin-bottom: 10px;
  padding-bottom: 50px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}

.tekst {
  margin-left: 40px;
  margin-right: 40px;
}

li {
  margin-left: 40px;
  margin-right: 40px;
}

.img1 {
  margin-left: 130px;
  width: 500px;
  height: auto;
}

img {
  border: 5px solid #9d8680;
  border-radius: 10px;
}

.logo {
  border: 0;
  border-radius: 0;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  font-family: "Taviraj", serif;
  color: #603a2b;
  text-decoration: none;
  border: 2px solid #603a2b;
  background-color: transparent;
  text-align: center;
  transition: all 0.3s ease;
  margin-left: 10px;
  margin-top: 20px;
}

.storknap {
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  font-family: "Taviraj", serif;
  color: #603a2b;
  text-decoration: none;
  border: 2px solid #603a2b;
  background-color: transparent;
  text-align: center;
  transition: all 0.3s ease;
  margin-left: 10px;
  margin-top: 20px;
}

.gåvidere {
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  font-family: "Taviraj", serif;
  text-decoration: none;
  border: 2px solid #603a2b;
  background-color: transparent;
  text-align: center;
  transition: all 0.3s ease;
  margin-left: 700px;
  margin-top: 20px;
}

.gåvidere:hover {
  color: #d36752;
  border: 2px solid #d36752;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #603a2b;
  transition: all 0.3s ease;
}

a:hover {
  color: #d36752;
  cursor: pointer;
}

.button:hover {
  color: #d36752;
  border: 2px solid #d36752;
  cursor: pointer;
}

h2 {
  margin-left: 10px;
}

video {
  width: 500px;
  height: auto;
  margin-left: 130px;
  border: 5px solid #9d8680;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .grid_1-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img1 {
    margin-left: 0;
    margin-right: 7px;
    margin-top: 10px;
    order: 2;
  }

  #overskrift {
    font-size: 30px;
  }

  button {
    margin-left: 170px;
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  video {
    margin-left: 0;
    margin-top: 10px;
    display: flex;
  }

  button {
    margin-left: 170px;
    margin-bottom: 30px;
  }

  .storknap {
    margin-left: 130px;
    margin-bottom: 30px;
  }

  .tekst {
    order: 1;
  }

  .gåvidere {
    margin-left: 190px;
  }
}
